:root {
    --size: 50px;
    --speed: 2s;
  }
  
  body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #adc178;
  }
  .loader {
    width: var(--size);
    height: var(--size);
  }
  
  